<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="style.css")
    title Phantom
  body
    .wrap
      header.header
        h1.logo
          a(href="#") 
            img(src="./assets/images/logo.svg")
            span PHANTOM
        a.menu-toggle MENU
        nav.menu-nav
          h2.menu-title MENU
          ul
            li
              a(href="#") Home
            li
              a(href="#") Tempus etiam
            li
              a(href="#") Consequat dolor
            li
              a(href="#") Elements
          button.menu-close(type="button") X
      main
        section.title
          h2 This is Phantom, a free, fully responsive site template designed by 
            a(href="http://html5up.net") HTML5 UP
          p Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum
            | ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.
        ul.image-tiles
          li.style1
            a(href="#") 
              img(src="./assets/images/pic01.jpg", alt="notebook")
              h3 Magna
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style2
            a(href="#")
              img(src="./assets/images/pic02.jpg", alt="wave")
              h3 Lorem
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style3
            a(href="#")
              img(src="./assets/images/pic03.jpg", alt="subway")
              h3 Feugiat
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style4
            a(href="#")
              img(src="./assets/images/pic04.jpg", alt="man")
              h3 Tempus
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style5
            a(href="#")
              img(src="./assets/images/pic05.jpg", alt="snow")
              h3 Aliquam
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style6
            a(href="#")
              img(src="./assets/images/pic06.jpg", alt="highway")
              h3 Veroeros
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style2
            a(href="#")
              img(src="./assets/images/pic07.jpg", alt="desk")
              h3 Ipsum
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style3
            a(href="#")
              img(src="./assets/images/pic08.jpg", alt="city")
              h3 Dolor
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style1
            a(href="#")
              img(src="./assets/images/pic09.jpg", alt="mountain")
              h3 Nullam
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style5
            a(href="#")
              img(src="./assets/images/pic10.jpg", alt="reed")
              h3 Ultricies
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style6
            a(href="#")
              img(src="./assets/images/pic11.jpg", alt="camera")
              h3 Dictum
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
          li.style4
            a(href="#")
              img(src="./assets/images/pic12.jpg", alt="cloud")
              h3 Pretium
              p Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.
      footer
        section.form-feild
          h3 Get in touch
            form
              input.name(type="text" name="name" placeholder="Name")
              input.email(type="email" name="email" placeholder="Email")
              textarea.message(name="message" rows="1" placeholder="Message")
              input.send(type="submit" value="SEND")
        section.copyright
          p © Untitled. All rights reserved | 
          p Design: HTML5 UP | 
          p Demo Images: Unsplash
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="./assets/script.js")

