@font-face {
    font-family: 'NanumSquareOTFBold';
    font-weight:700;
    src: url('fonts/NanumSquareOTFBold.otf');
}
@font-face {
    font-family: 'NanumSquareOTFRegular';
    font-weight:400;
    src: url('fonts/NanumSquareOTFRegular.otf');
}
@font-face {
    font-family: 'NanumSquareOTFExtraBold';
    font-weight:900;
    src: url('fonts/NanumSquareOTFExtraBold.otf');
}
